
/*landing page gif sizing and container background*/
#broadCityGif {
	display: block;
    margin: -30px auto;
    width: 50%;
}

#containerLanding {
	background-color: black;
	height: 100%;
}

/*universal styles for landing p/individual styles for each*/
p.landing {
	color: white;
	text-align: center;
	margin-top: 0;
}

.presents {
	font-family: 'Six Caps', sans-serif;
	font-size: 25px;
}

.gameName {
	font-family: 'Londrina Outline', cursive;
	font-size: 65px;
	margin-bottom: 35px;
}

/*button styles for landing page*/
.playButton {
	margin-left: 43%;
	padding: 8px 40px;
	border-radius: 10px;
	border: 2px solid #FFE83B;
	background-color: #189BCC;
	font-family: 'Six Caps', sans-serif;
	font-size: 30px;
	color: white;
}

.playButton:hover {
    background-color: #FFE83B; 
    color: #189BCC;
    cursor: pointer;
}

/*pick a character page*/

/*background photo*/
.charPick { 
  background: url(img/charPick.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*divs for each player*/
.abbi {
	display: inline-block;
	width: 49%;
	height: 800px;
	float: left;
	text-align: center;
}

.ilana {
	display: inline-block;
	width: 49%;
	height: 900px;
	float: right;
	text-align: center;
}

/*names for each plaver inside of divs*/
.playerAbbi {
	font-size: 80px;
	font-family: 'Londrina Solid', cursive;
	color: white;
	margin-top: 90%;
}

.playerIlana {
	font-size: 80px;
	font-family: 'Londrina Solid', cursive;
	color: white;
	margin-top: 5%;
}

/*button to enter gameplay*/
.gotIt {
	position: fixed;
	top: 40%;
	margin-left: -75px;
	padding: 50px 60px;
	border-radius: 10px;
	border: 2px solid #FFE83B;
	background-color: #FF6E75;
	font-family: 'Six Caps', sans-serif;
	font-size: 40px;
	color: white;
}

.gotIt:hover {
    background-color: #21274B; 
    color: #FFE83B;
    cursor: pointer;
}


/*gameplay page*/

/*gamename header*/
.headerGame {
	height: 10%;
}

.reduce {
	color:#189BCE;
}

.reuse {
	color:#37CF49;
}

.recycle {
	color:#FEAB5D;
}

.rihanna {
	color: #FD767B;
}

.gameNameTwo {
	text-align: center;
	font-size: 4.5em;
	font-family: 'Londrina Solid', cursive;
	margin-top: 1%;
	width: 100%;
}

/*instructions div with player score and restet button*/
.instructions {
	position: absolute;
    top: 16%; right: 75%; bottom: 0; left: 0;
	background-color: #19AE50;
}

.instruction {
	font-size: 50px;
	margin-bottom: 0;
	text-align: center;
	font-family: 'Londrina Solid', cursive;
	color: #FFE83B;
}

/*paragraph with instructions*/
.instructionParagraph {
	font-family: 'Londrina Solid', cursive;
	text-align: center;
	font-size: 17px;
	margin: 0 5px;

}

/*players area with score*/
.players {
	font-family: 'Londrina Solid', cursive;
	margin-left: 3%;
	font-size: 40px;
	color: #FD767B;
	display: inline-block;
	margin: 10px;
}

.scorecard {
	display: block;
}

.score {
	display: inline-block;
	font-family: 'Londrina Solid', cursive;
	font-size: 40px;
	margin: 0;
	color: #FFE83B;
}

/*reset button*/
.reset {
	display: inline-block;
}

.reset {
	border-radius: 10px;
	padding: 10px 50px;
	border: 2px solid #FFE83B;
	background-color: #189BCC;
	font-family: 'Six Caps', sans-serif;
	font-size: 30px;
	color: white;
	margin-left: 28%;
}

.reset:hover {
    background-color: #FFE83B; 
    color: #189BCC;
    cursor: pointer;
}

/*game container and cards*/
#gameContainer {
	position: absolute;
    top: 16%; right: 0; bottom: 0; left: 25%;
	background-color: #1699D1;
	text-align: center;
	padding: .7%;
}

.cards {
	width: 14%;
	margin: 1.1%;
	display: inline-block;
	border-radius: 5px;
}


















